---
layout: default
title: suninf's Articles
---
<div id="total_articles_size" style="text-align: right">Total <span style="font-weight: bold"> {{ site.posts | size }} </span> articles</div>
        
<!-- get a new year and list the articles in that year -->        
{% assign cur_year = "" %}
{% for post in site.posts %}
    {% assign new_year = post.date | date:"%Y" %}
    {% if new_year != cur_year %}
        {% assign cur_year = new_year %}
        <section class="archives" style="border-top: 2px solid #d3d3d3;padding-top: 5px;margin-top: 10px;padding-bottom: 5px;">
            <h1 class="year">{{cur_year}}</h1>
            <ul id="articles">
                {% for tmp_post in site.posts %}
                    {% assign tmp_year = tmp_post.date | date:"%Y" %}
                    {% if cur_year == tmp_year %}
                        <li class="post_list_item">
                            <span>{{tmp_post.date | date: "%m.%d"}}</span>
                            <a href="{{tmp_post.url}}" style="margin-left: 5px; line-height: 20px;">{{tmp_post.title}}</a>
                        </li>
                    {% endif %}
                
                {% endfor %}
            </ul>
        </section>
    {% endif %}
{% endfor %}

