---
layout: default
---

<div class="homepage">
    <h1>suninf's homepage</h1>
</div>

{% for first_post in site.posts limit:1 %}

<div class="blog_summary" style="margin: 2em 2em 5em 2em;">
    <div class="blog_title" style="font-size: 1.2em;font-weight: bold;">
        <a href="{{ first_post.url }}" target="_blank">{{ first_post.title }}</a>
    </div>
    <div class="info">
        <span style="float: right;">{{ first_post.date | date: "%Y-%m-%d" }}</span>
    </div>
    <div class="blog_content" style="margin-top: 25px">
        <div>
            <p style="text-indent:2em; color: #555;">
                {{ first_post.description }}
            </p>
        </div>
    </div>
</div>
{% endfor %}


{% assign recent_posts_limit = 6 %}

<div class="recent_posts" style="margin: 2em 2em 2em 2em; border-top: 2px solid #d3d3d3;">
    <h3>Recent articles:</h3>
    <ul>
        {% for post in site.posts limit:recent_posts_limit %}
            {% if forloop.index == 1 %}
            {% else %}
                <li><a href="{{post.url}}" style="margin-left: 5px;">{{post.title}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

    {% assign total_posts = site.posts | size %}
    {% if total_posts > recent_posts_limit %}
    <div style="float: right;">
        <a href="/articles.html">Reading More &gt;&gt;</a>
    </div>
    {% endif %}
</div>






