{% for page in site.pages limit:5 %}
<div class="blog_summary">
    <div class="blog_title">
        <h1>
            <a href="{{page.url}}" target="_blank">{{page.title}}</a>
        </h1>
    </div>
    <div class="info">
        <span style="float: right;">{{page.date | date: "%Y-%m-%d"}}</span>
    </div>
    <div class="blog_content" style="margin-top: 10px">
        {{page.content}}
    </div>

    {% if forloop.index != forloop.length %}
        <br>
        <br>
    {% endif %}
</div>

{% endfor %}
