{% for post in site.posts limit:5 %}
<div class="blog_summary">
    <div class="blog_title">
        <h2>
            <a href="{{post.url}}" target="_blank">{{post.title}}</a>
        </h2>
    </div>
    <div class="info">
        <span>{{post.date | date: "%Y-%m-%d"}}&nbsp;&nbsp;</span>
    </div>
    <div class="blog_content" style="margin-top: 10px">
        {{post.content}}
    </div>

    {% if forloop.index != forloop.length %}
        <br>
        <br>
    {% endif %}
</div>

{% endfor %}
