---
author: suninf
desc: Creative thinking、Happy sharing！ If not now, when? If not you, who?
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ page.desc }} - {{ page.author }}</title>
        <link href="//suninf.net/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" media="screen" charset="utf-8"/>
        <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" media="screen" charset="utf-8"/>
        <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" media="screen" charset="utf-8"/>
        <link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print" charset="utf-8"/>
    </head>

    <body>
        <div id="wrapper"><!-- #wrapper -->

            <header><!-- header -->
                <h1><a href="/">Non-amateur Research on Chrome & V8 & NodeJs</a></h1>
                <div id="desc_line">{{ page.desc }}</div>
            </header><!-- end of header -->

            <nav><!-- top nav -->
                <div class="menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/blogs.html">Articles</a></li>
                        <li><a href="/about.html">About</a></li>
                    </ul>
                </div>
            </nav><!-- end of top nav -->

            <section id="main"><!-- #main content and sidebar area -->
                <div id="content">
                    <article class="articlecontent">
                        {{ content }}
                    </article>
                </div>

                <aside>
                    <section>
                        <h3>Who's suninf</h3>
                        <img src="/images/suninf.png" width="100" height="100" />
                        <p>Email:<a href="mailto:suninf@zju.edu.cn" target="_blank">suninf@zju.edu.cn</a></p>
                        <p>Weibo:<a href="http://weibo.com/suninf" target="_blank">weibo.com/suninf</a></p>
                        <p>Github:<a href="http://github.com/suninf" target="_blank">github.com/suninf</a></p>
                    </section>

                    <section>
                        <h3>Categories</h3>
                        <ul>
                        {% for category in site.categories %}
                        <li><a href="/{{category | first}}.html">{{category | first}} ({{category | last | size }})</a></li>
                        {% endfor %}
                        </ul>
                    </section>

                    <section>
                        <h3>Opensource</h3>
                        <ul>
                            <li><a href="http://www.boost.org" target="_blank">boost</a></li>
                            <li><a href="http://kramdown.gettalong.org/index.html" target="_blank">kramdown</a></li>
                            <li><a href="http://v3.bootcss.com/" target="_blank">Bootstrap-zh</a></li>
                            <li><a href="http://www.w3school.com.cn/index.html" target="_blank">W3School</a></li>
                            <li><a href="http://www.w3.org/TR/Window/" target="_blank">W3</a></li>
                            <li><a href="http://www.w3.org/html/ig/zh/wiki/HTML5" target="_blank">HTML5 zh-doc</a></li>
                            <li><a href="http://docs.kissyui.com/" target="_blank">kissy</a></li>
                            <li><a href="http://jquery.com/" target="_blank">jquery</a></li>
                            <li><a href="http://www.w3school.com.cn/jquery/" target="_blank">w3school-jquery</a></li>
                            <li><a href="http://www.erlang.org/" target="_blank">erlang</a></li>
                            <li><a href="http://erlang-china.org/" target="_blank">erlang-china</a></li>
                        </ul>
                    </section>

                    <section>
                        <h3>blogs</h3>
                        <ul>
                            <li><a href="http://blog.sina.com.cn/suninf" target="_blank">sina-blog</a></li>
                            <li><a href="https://github.com/lifesinger" target="_blank">lifesinger</a></li>
                            <li><a href="http://boost-spirit.com/home/" target="_blank">boost-spirit</a></li>
                            <li><a href="http://mindhacks.cn/" target="_blank">mind hacks</a></li>
                            <li><a href="http://blog.csdn.net/cenwenchu79" target="_blank">fangweng</a></li>
                            <li><a href="http://mogoweb.net/" target="_blank">mogoweb</a></li>
                            <li><a href="http://www.ruanyifeng.com/blog/" target="_blank">ruanyifeng</a></li>
                            <li><a href="http://erdani.com/" target="_blank">Andrei Alexandrescu</a></li>
                            <li><a href="http://www.gotw.ca/" target="_blank">Herb Sutter</a></li>
                            <li><a href="https://parasol.tamu.edu/~jarvi/" target="_blank">Jaakko Järvi</a></li>
                            <li><a href="http://www.cnblogs.com/miloyip/" target="_blank">miloyip</a></li>
                            <li><a href="http://blog.csdn.net/milado_nju" target="_blank">milado_nju</a></li>
                            <li><a href="http://shapeshed.com/" target="_blank">shapeshed</a></li>
                            <li><a href="http://martinfowler.com/intro.html" target="_blank">martinfowler</a></li>
                            <li><a href="http://macshuo.com/" target="_blank">MacTalk</a></li>
                            <li><a href="http://blog.fens.me/series-nodejs/" target="_blank">fens</a></li>
                            <li><a href="http://wufawei.com/" target="_blank">Ted's ios</a></li>
                            <li><a href="http://dirk.sh/" target="_blank">dirk mac</a></li>
                            <li><a href="http://lifegoo.pluskid.org/wiki/Emacs.html" target="_blank">pluskid emacs</a></li>
                        </ul>
                    </section>

                    <section>
                        <h3>links</h3>
                        <ul>
                            <li><a href="http://www.chromi.org/" target="_blank">chromi</a></li>
                            <li><a href="http://www.developereconomics.com/reports/" target="_blank">developereconomics</a></li>
                            <li><a href="http://www.techpaste.com" target="_blank">techpaste</a></li>
                            <li><a href="http://blog.sina.com.cn/s/blog_88cb82f60101gsin.html" target="_blank">windeln</a></li>
                            <li><a href="http://news.ios-wiki.com/news" target="_blank">IOS News</a></li>
                            <li><a href="https://news.ycombinator.com/" target="_blank">Hacker News</a></li>
                            <li><a href="http://www.buildyourownlisp.com/contents" target="_blank">buildyourownlisp</a></li>
                            <li><a href="http://paulgraham.com/articles.html" target="_blank">Paul Graham</a></li>
                        </ul>
                    </section>

                </aside>

            </section><!-- end of #main content and sidebar-->

        </div><!-- #wrapper -->

        <script>
            var _gaq = [['_setAccount', 'UA-12120506-1'], ['_trackPageview']];
                (function(d, t) {
                    var g = d.createElement(t),
                    s = d.getElementsByTagName(t)[0];
                    g.async = true;
                    g.src = '//www.google-analytics.com/ga.js';
                    s.parentNode.insertBefore(g, s);
                })(document, 'script');
        </script>
    <!-- Free template created by http://freehtml5templates.com -->
    </body>
</html>
