---
author: suninf
desc: 创新思考、乐于分享！ If not now, when? If not you, who?
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {% if page.title != null %}
    <title>{{page.title}} | {{ page.desc }} - {{ page.author }}</title>
    {% else %}
    <title>{{ page.desc }} - {{ page.author }}</title>
    {% endif %}
    <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print" charset="utf-8"/>
    <!--[if IE]><script src="/javascripts/html5.js"></script><![endif]-->
  </head>
  <body>
    <div id="wrapper"><!-- #wrapper -->

      <header><!-- header -->
      <h1><a href="/">{{ page.author }}</a></h1>
      <h2><a href="/">{{ page.desc }}</a></h2>
      </header><!-- end of header -->

      <nav><!-- top nav -->
      <div class="menu">
        <ul>
          <li><a href="/">首页</a></li>
          <li><a href="/blogs.html">文章列表</a></li>
          <li><a href="/about.html">关于我</a></li>
        </ul>
      </div>
      </nav><!-- end of top nav -->

      <section id="main"><!-- #main content and sidebar area -->
      <div id="content">
        <article class="articlecontent">
          {{ content }}
        </article>
      </div>

      <aside>
      <section>
      <h3>Who's suninf</h3>
      <img src="/images/suninf.jpg" width="100" height="100" />
      <p>Email:<a href="mailto:suninf@yeah.net">suninf@yeah.net</a></p>
      <p>Weibo:<a href="http://weibo.com/suninf">weibo.com/suninf</a></p>
      <p>Github:<a href="http://github.com/suninf">github.com/suninf</a></p>
      </section>

      <section>
      <h3>Categories</h3>
      <ul>
        {% for category in site.categories %}
		<p>{{ category }}</p>
        <li><a href="/{{category | first}}.html">{{category | first}} ({{category | last | size }})</a></li>
        {% endfor %}
      </ul>
      </section>

      <section>
      <h3>开源项目</h3>
      <ul>
        <li><a href="http://www.boost.org">boost</a></li>
        <li><a href="http://www.w3school.com.cn/index.html">W3School</a></li>
        <li><a href="http://closure-compiler.appspot.com/">JS压缩</a></li>
      </ul>
      </section>
	  
	  <section>
      <h3>blog收藏</h3>
      <ul>
        <li><a href="http://www.cnblogs.com/cathsfz/">Cat Chen</a></li>
      </ul>
      </section>

      </aside>

      </section><!-- end of #main content and sidebar-->

      <footer>
      <section id="footer-area">

      <section id="footer-outer-block">
      <aside class="footer-segment">
      <h4>Friends</h4>
      <ul>
        <li><a href="http://blog.sina.com.cn/suninf">suninf博客</a></li>
      </ul>
      </aside><!-- end of #first footer segment -->

      <aside class="footer-segment">
      <h4>Blogroll</h4>
      <ul>
        <li><a href="http://robielee.me">小狼</a></li>
        <li><a href="http://2simple.cn">2Simple</a></li>
        <li><a href="http://abitno.me">A Bit? No!!!</a></li>
        <li><a href="http://daodao.org">盗盗</a></li>
      </ul>
      </aside><!-- end of #second footer segment -->

      <aside class="footer-segment">
      <h4>Coolness</h4>
      <ul>
        <li><a href="http://xianguo.com">鲜果</a></li>
        <li><a href="http://github.com">GitHub</a></li>
        <li><a href="http://www.pivotaltracker.com">PivotalTracker</a></li>
        <li><a href="http://chinaonrails.com">ChinaOnRails</a></li>
      </ul>
      </aside><!-- end of #third footer segment -->

      <aside class="footer-segment">
      <h4>Encourage</h4>
      <p>尝试. 坚持. 分享. 宽容.</p>
      </aside><!-- end of #fourth footer segment -->

      </section><!-- end of footer-outer-block -->

      </section><!-- end of footer-area -->
      </footer>

    </div><!-- #wrapper -->

    <script>
      var _gaq = [['_setAccount', 'UA-12120506-1'], ['_trackPageview']];
      (function(d, t) {
        var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
        g.async = true;
        g.src = '//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s);
      })(document, 'script');
    </script>
    <!-- Free template created by http://freehtml5templates.com -->
  </body>
</html>
