---
author: suninf
desc: Creative thinking、Happy sharing！ If not now, when? If not you, who?
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ page.desc }} - {{ page.author }}</title>
        <link href="//suninf.net/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" media="screen" charset="utf-8"/>
        <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" media="screen" charset="utf-8"/>
        <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" media="screen" charset="utf-8"/>
        <link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print" charset="utf-8"/>
        <script src="/scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
        <script src="/scripts/blog.js" type="text/javascript"></script>
    </head>

    <body>
        <div id="wrapper"><!-- #wrapper -->

            <header><!-- header -->
                <h1><a href="/" style="font-size: 1em; border-bottom: 1px solid #FFF; font-weight: normal;">Enjoy From Programming And Technique</a></h1>
                <div id="desc_line">{{ page.desc }}</div>
            </header><!-- end of header -->

            <nav><!-- top nav -->
                <div class="menu">
                    <ul class="artical-cate">
                        <li id = "nav_home_id" class="on"><a href="/"><span>Home</span></a></li>
                        <li id = "nav_articles_id"><a href="/articles.html"><span>Articles</span></a></li>
                        <li id = "nav_about_id"><a href="/about.html"><span>About</span></a></li>
                    </ul>
                    <div class="cate-bar" style="visibility:hidden"><span id="cateBar" style="left: 0px; width: 47px; overflow: hidden;"></span></div>
                </div>
            </nav><!-- end of top nav -->

            <section id="main"><!-- #main content and sidebar area -->
                <div id="content">
                    <article class="articlecontent">
                        {{ content }}
                    </article>
                </div>

                <aside>
                    <section>
                        <h3>Who's suninf</h3>
                        <img src="/images/suninf.png" width="100" height="100" />
                        <p>Email:&nbsp;<a href="mailto:suninf@zju.edu.cn" target="_blank">suninf@zju.edu.cn</a></p>
                        <p>Weibo:&nbsp;<a href="http://weibo.com/suninf" target="_blank">weibo.com/suninf</a></p>
                        <p>Github:&nbsp;<a href="http://github.com/suninf" target="_blank">github.com/suninf</a></p>
                    </section>

                    <section>
                        <h3>Categories</h3>
                        <ul>
                        {% for category in site.categories %}
                        <li><a href="/{{category | first}}.html">{{category | first}} ({{category | last | size }})</a></li>
                        {% endfor %}
                        </ul>
                    </section>

                    <section>
                        <h3>Opensource</h3>
                        <ul>
                            {% for open_source in site.data.open_sources %}
                                <li><a href="{{ open_source.url }}" target="_blank">{{ open_source.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </section>

                    <section>
                        <h3>Blogs</h3>
                        <ul>
                            {% for blog in site.data.blogs %}
                                <li><a href="{{ blog.url }}" target="_blank">{{ blog.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </section>

                    <section>
                        <h3>Links</h3>
                        <ul>
                            {% for link in site.data.links %}
                                <li><a href="{{ link.url }}" target="_blank">{{ link.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </section>

                </aside>

            </section><!-- end of #main content and sidebar-->

        </div><!-- #wrapper -->



        <script>
            var _gaq = [['_setAccount', 'UA-12120506-1'], ['_trackPageview']];
                (function(d, t) {
                    var g = d.createElement(t),
                    s = d.getElementsByTagName(t)[0];
                    g.async = true;
                    g.src = '//www.google-analytics.com/ga.js';
                    s.parentNode.insertBefore(g, s);
                })(document, 'script');
        </script>
    <!-- Free template created by http://freehtml5templates.com -->
    </body>
</html>
